<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hugate.DataHelper.Properties.Settings.Hugate_ParkingConnectionString"
            connectionString="Data Source=(local);Initial Catalog=Hugate-Parking;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>